.navbar.top{
	position: relative;
	z-index: 100;
}

/*rpgress bar de yuppic*/
.progress_yuppic {
	position: relative;
	z-index: 2;
  background-color: #25272b;

  background-image: url('../../../images/crearyp/bg-progssbar.png');
  background-repeat: repeat-x;

  -webkit-box-shadow: 0 5px 8px rgba(0,0,0,.25);
  -moz-box-shadow: 0 5px 8px rgba(0,0,0,.25);
  box-shadow: 0 5px 8px rgba(0,0,0,.25);

  padding: 1% 4% 0% 4%;
}
.progress_yuppic .pross_yupp_conte{
	position: relative;
	width: 88%;
	margin: 5px auto 0px auto;
	min-height: 56px;
}
.progress_yuppic .pross_yupp_conte .progress_bg{
	position: relative;
	background-color: #171717;
	border-radius: 4px;
	border-bottom: 1px #475757 solid;
	border-right: 1px #475757 solid;
	/*padding: 2px;*/
}
.progress_yuppic .pross_yupp_conte .progress{
	position: relative;
	margin-bottom: 0px;
	background-color: #171717;
	background-image: none;
	margin: 2px 0;
	z-index: 20;
}
.progress_yuppic .pross_yupp_conte .progress .bar{
	height: 9px;
	background-color: #77c0f4;
  background-image: -moz-linear-gradient(top, #77c0f4, #499cd7);
  background-image: -ms-linear-gradient(top, #77c0f4, #499cd7);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#77c0f4), to(#499cd7));
  background-image: -webkit-linear-gradient(top, #77c0f4, #499cd7);
  background-image: -o-linear-gradient(top, #77c0f4, #499cd7);
  background-image: linear-gradient(top, #77c0f4, #499cd7);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#77c0f4', endColorstr='#499cd7', GradientType=0);
}
.progress_yuppic .pross_yupp_conte .paso1,
.progress_yuppic .pross_yupp_conte .paso2,
.progress_yuppic .pross_yupp_conte .paso3{
	position: absolute;
	top: -6px;
	left: -14px;
	z-index: 10;
	display: block;
	width: 17px;
	height: 16px;
	background-color: #171717;
	border-radius: 10px;
	border-bottom: 1px #475757 solid;
	border-right: 1px #475757 solid;
	padding: 2px 2px 1px 2px;
}
.progress_yuppic .pross_yupp_conte .paso2{
	left: 48.1%;
}
.progress_yuppic .pross_yupp_conte .paso3{
	right: -14px;
	left: inherit;
}
.progress_yuppic .pross_yupp_conte .circl1,
.progress_yuppic .pross_yupp_conte .circl2,
.progress_yuppic .pross_yupp_conte .circl3{
	position: absolute;
	top: -2px;
	left: -10px;
	width: 12px;
	height: 12px;
	border-radius: 10px;
	background-color: #77c0f4;
	z-index: 22;
	-webkit-box-shadow: 0 0px 25px #77c0f4;
	-moz-box-shadow: 0 0px 25px #77c0f4;
	box-shadow: 0 0px 25px #77c0f4;
}
.progress_yuppic .pross_yupp_conte .circl2{
	left: 48.48%;
}
.progress_yuppic .pross_yupp_conte .circl3{
	left: inherit;
	right: -10px;
}
.progress_yuppic .pross_yupp_conte .txtpaso1,
.progress_yuppic .pross_yupp_conte .txtpaso2,
.progress_yuppic .pross_yupp_conte .txtpaso3{
	position: absolute;
	left: -4%;
	margin-top: 10px;
}
.progress_yuppic .pross_yupp_conte .txtpaso2{
	left: 42%;
}
.progress_yuppic .pross_yupp_conte .txtpaso3{
	left: inherit;
	right: -5%;
}
a#btn_select_theme{
	color: #5c5c67;
}


.tema_barratop{
	background: #12151a url("../../../images/crearyp/bg-titlebarr.png") repeat-x;
	color: #fff;
	padding: 2px 1% 5px 1%;

	-webkit-box-shadow: 0 8px 18px rgba(0,0,0,.5);
  -moz-box-shadow: 0 8px 18px rgba(0,0,0,.5);
  box-shadow: 0 8px 18px rgba(0,0,0,.5);
}
.tema_form-buscar{
	margin: 0;
	background-color: #131315;
	border-radius: 4px;
	border-bottom: 1px #3b4848 solid;
	border-right: 1px #3b4848 solid;
	padding: 4px;
}
.tema_form-buscar .input-append{
	margin: 0px;
}
.tema_form-buscar #appendedInputButtons{
	min-height: 26px;
	width: 120px;
	font-size: 13px;
}
.tema_barratop .pull-left{
	line-height: 30px;
}
.row-fluid .span12.barratop{
	position: relative;
	z-index: 50;
}


/*contenido*/
.row-fluid.contenido_crea_yupp{
	background: url("../../../images/crearyp/bg_paso1.jpg") no-repeat;
}
.row-fluid .span4.barrpreview{
	position: relative;
	z-index: 10;
}
#tema_preview{
	background-color: #15181d;
	padding: 0 6% 2% 6%;
	text-align: center;
}
.tema_prev_yuppic{
	position: relative;
	width: 70%;
	height: 250px;
	background-color: #ccc;
	margin-bottom: 20px;
}
.tema_prev_yuppic .bgtitulo{
	background-color: rgba(54, 98, 169, 0.6);
	padding: 20px 0;
}
.tema_prev_yuppic .titulo{
	width: 90%;
	font-weight: bold;
	font-size: 1.2em;
	background-color: transparent;
	border:none;
	color: #fff;
}
.tema_prev_yuppic .autor{
	width: 90%;
	margin-top: 20px;
	background-color: transparent;
	border:none;
	color: #fff;
	font-style: italic;
	font-size: 1.1em;
}
.tema_prev_yuppic .titulo:focus,
.tema_prev_yuppic .autor:focus{
	border: 1px double #fff;
}
.tema_prev_yuppic .fecha{
	font-size: .8em;
}

#accordion2 .accordion-group,
#accordion3 .accordion-group{
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	border:1px #000105 solid;
	margin: 0;
}
#accordion2 .accordion-group .accordion-heading,
#accordion3 .accordion-group .accordion-heading{
	background: url("../../../images/crearyp/bg_acordion.jpg") repeat-x;
	min-height: 49px;
	line-height: 30px;
}
#accordion2 .accordion-group .accordion-body,
#accordion3 .accordion-group .accordion-body{
	background-color: #1b1e23;
}
#accordion2 .accordion-group .accordion-body .accordion-inner,
#accordion3 .accordion-group .accordion-body .accordion-inner{
	border-top:1px #000105 solid;

}
#collapse_fondo.accordion-body.collapse{
	position: inherit;
}
.minicolors.minicolors-theme-default{
	float: right;
}
.minicolors.minicolors-theme-default .minicolors-swatch{
	margin-right: 8px;
}
.input-append.ir_pasos{
	background-color: #131315;
	border-radius: 4px;
	border-bottom: 1px #475757 solid;
	border-right: 1px #475757 solid;
	padding: 4px;
	margin-left: 5px;
}
#btn_select_theme2{
	/*font-weight: bold;
	color: #886039;
	text-shadow: #fff 0.1em 0.1em 0.2em;*/
}

.colorpicker{
	width: 195px;
}

/** Listado de temas **/
#thmslists .pagination{
	margin: 0px 0px 5px 0px;
	border: none;
}
#thmslists .pagination a{
	width: 43px;
	height: 41px;
	color: #886039;
	border: none;
	padding: 0px;
	line-height: 38px;
	text-align: center;
	cursor: pointer;
	background: url("../../../images/crearyp/pag_normal.png") no-repeat;
}
#thmslists .pagination a.jp-current,
#thmslists .pagination a:hover{
	background-color: inherit;
	background: url("../../../images/crearyp/pag_hover.png") no-repeat;
}
#thmslists .pagination a.jp-previous{
	width: 89px;
	background: url("../../../images/crearyp/pag_prev.png") no-repeat;
}
#thmslists .pagination a.jp-previous:not(.jp-disabled):hover{
	background: url("../../../images/crearyp/pag_prev_hover.png") no-repeat;
}
#thmslists .pagination a.jp-next{
	width: 71px;
	background: url("../../../images/crearyp/pag_next.png") no-repeat;
}
#thmslists .pagination a.jp-next:not(.jp-disabled):hover{
	background: url("../../../images/crearyp/pag_next_hover.png") no-repeat;
}
#thmslists .pagination a.jp-disabled{
	cursor: default;
}
#thmslists .pgtitle{
	font-size: 16px;
	font-weight: bold;
	color: #886039;
	text-shadow: #fff 0.1em 0.1em 0.2em;
}

/*Listado*/
#list_themes{
	margin-top: 60px;
}
#list_themes .well{
	position: relative;
	background-color: transparent;
	padding: 0px;
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	border:none;
}
#list_themes .well h4{
	position: absolute;
	top: 15px;
	left: 15px;
	font-size: 18px;
	color: #fff;
	text-shadow: 0px 0px 3px #000;
}
#list_themes .well button.use-theme{
	position: absolute;
	top: 40%;
	left: 30%;
	font-size:1.2em;
	padding: 2.5% 10%;
}
#list_themes .well .them_autrr{
	background-color: #fff;
	padding: 10px 0px;
	text-align: center;
	min-height: 40px;
	color: #70727d;
	line-height: 40px;
}
#list_themes .well .them_autrr strong{
	color:#75be6a;
}
#list_themes .well.no-resultados{
	background-color: #fff;
	color:#75be6a;
	font-size:1.2em;
	font-weight: bold;
	text-align: center;
	padding: 20px 0;
}

#thmslists.span8.lista_temas{
	margin-left: 0px;
	padding: 25px;
	width: 68.08510637599999%;
	/*background: url("../../../images/crearyp/bg_paso1.jpg") no-repeat;*/
}
@media (min-width: 1200px) {
	#thmslists.span8.lista_temas{
		margin-left: 0px;
		width: 68.376068376068384%;
		/*background: url("../../../images/crearyp/bg_paso1.jpg") no-repeat;*/
	}
	.minicolors-panel {
		top: 60%;
		left: 20%;
	}
}
@media (min-width: 768px) and (max-width: 979px) {
	#thmslists.span8.lista_temas{
		margin-left: 0px;
		width: 68.5082872928176894%;
		/*background: url("../../../images/crearyp/bg_paso1.jpg") no-repeat;*/
	}
	.minicolors-panel {
		top: 60%;
		left: 75%;
	}
}
@media (max-width: 767px) {
	#thmslists.span8.lista_temas{
		width: 100%;
		/*background: url("../../../images/crearyp/bg_paso1.jpg") no-repeat;*/
	}

  .photos-list ul.thumbnails li.span2 {
    float: left;
    margin-left: 2.5%;
  }

  /*ul.thumbnails li.span2:first-child {
    margin-left: 0;
  }*/

  div#content-selected-photos {
    margin-left: 7%;
  }

  .choosed {
    top: 48px;
    left: 35px;
  }

  .minicolors-panel {
		top: 60%;
		left: 25%;
	}

}





/******************* SELECCIONAR FOTOS ************************/

/*.albums-list {max-height: 468px; margin: 0px !important;}
.albums-list .nav, .albums-list ul {margin-bottom: 0;}
.albums-list .scroll-content {width: 100%;}*/

div.albums-list {
  max-height: 357px;
  margin: 0px !important;
  width: 92% !important;
  padding: 0 0 0 39px;
}
.albums-list .nav, .albums-list ul {margin-bottom: 0;}
.albums-list .scroll-content {width: 100%;}

.albums-list .nav-tabs.nav-stacked > li:first-child > a,
.albums-list .nav-tabs.nav-stacked > li:last-child > a {
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
}

.albums-list .nav > li > a {
  width: 85%;
  background: #25272C url("../../../images/menubk.png") repeat;
  border: 1px solid #000 !important;
  margin-bottom: 1px !important;
  font-size: 13px !important;
  color: #F6F6F6 !important;
  padding: 15px 0 15px 15px !important;
}

.albums-list .nav > li > a > i {
  float: left;
  margin-left: -5px;
}

.albums-list .nav > li > a > span {
  width: 85% !important;
  display: block;
  margin-left: 24px;
}

.photos-list {padding: 10px 0 0 0;}
.photos-select {padding: 10px 0 10px 10px;}

.thumbnail {
  border: none !important;
  -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6) !important;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6) !important;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6) !important;
}

.photos-list .thumbnails .thumbnail, .photos-select .thumbnails .thumbnail,
#modal_upload .modal-body .thumbnails .thumbnail{margin-bottom: 5px !important;}
.photos-list .thumbnails > li, .photos-select .thumbnails > li {margin-bottom: 0;}
.photos-list ul li:nth-child(6n+1), #modal_upload .modal-body ul li:nth-child(6n+1) {margin-left: 0;}

.photos-list .thumbnail > img {
	width: 160px;
	height: 125px;
}

.photos-select .thumbnail img {
  width: 160px;
  height: 140px
}

ul#photos-list li{
	cursor: pointer;
}

.photos-select li {
	width: 170px !important;
	height: 135px !important;
	margin-right: 25px !important;
	margin-left: 0px !important;
}

.scroll-pane {
	width: 100%;
	overflow: auto;
}
.horizontal-only {
	height: 160px;
	max-height: 160px;
}

.delete {
  display: none;
  position: absolute;
  top: 52px;
  left: 62px;
  width: 48px;
  height: 46px;
  background-color: rgba(102, 102, 102, 0) !important;
  background-image: url("../../../images/photo-delete.png") !important;
  background-position: center center;
  background-repeat: no-repeat;
  padding: 6px !important;
  opacity: 0.9 !important;
  z-index: 999;
}

/*button.close {
  padding: 6px !important;
  opacity: 1 !important;
  font-size: 30px ;
  background: rgba(0, 0, 0, 0.77) !important;
  color: #FFF !important;
}*/

.relative {position: relative;}

/*div.thumbnail:hover {
	border-color: #366DDC;
	-webkit-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
	-moz-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
	box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
}*/

.choose-photo {
	/*opacity: 0.3 !important;*/
}


.choosed {
	position: absolute;
  top: 31%;
  left: 33%;
  width: 48px;
  height: 46px;
	/*background-color: rgba(102, 102, 102, 0);*/
  background-image: url("../../../images/photo-selected.png");
  background-position: center center;
  background-repeat: no-repeat;
  opacity: 0.9 !important;
  z-index: 999;
}

.close:hover {
	color: none;
	opacity: 1;
}

.jspScrollable, .albums-list .jspContainer, .albums-list .jspPane{
	width: 100% !important;
}

.loader {
  position: absolute;
  top: 45px;
  left: 5px;
}

.bullet {
  position: relative;
  display: inline-block;
  top: 4px;
  left: -9px;
  width: 20px;
  height: 20px;

  border-top: 1px solid #131416;
  border-left: 1px solid #131416;

  border-right: 1px solid #404348;
  border-bottom: 1px solid #404348;

  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;

  -moz-box-shadow: inset 3px 3px 5px #030408;
  -webkit-box-shadow: inset 3px 3px 5px #030408;
  box-shadow: inset 3px 3px 5px #030408;
}

i.icon-left, i.icon-right, i.icon-album, i.icon-select-photo, i.big-arrow-right, i.icon-left-type2,
i.icon-right-type2 {
  padding-top: 3px;
  padding-right: 10px;
  background-position: center center;
}

i.icon-left { background-image: url('../../../images/icon-left.png'); }
i.icon-right { background-image: url('../../../images/icon-right.png'); }
i.icon-album { background-image: url('../../../images/icon-album.png'); }
i.icon-select-photo { background-image: url('../../../images/icon-select-photo.png'); }
i.icon-left-type2 {background-image: url('../../../images/icon-left-type2.png'); }
i.icon-right-type2 {background-image: url('../../../images/icon-right-type2.png'); }


i.big-arrow-right {
  position: absolute;
  top: -2px;
  left: 100px;
  display: inline-block;
  width: 12px;
  height: 44px;
  background-image: url("../../../images/big-arrow-right.png");
  background-repeat: no-repeat;
}
i.big-arrow-right.arrowbook{
	left: inherit;
}

.hover-blue a:hover, .hover-blue button:hover, 
.hover-blue-albums > li > a:hover {
  background: #0f7aff;

  background: #0f7aff url('../../../images/menubk-active.png') repeat-x;

  /*background: -webkit-gradient(linear, left top, left bottom, from(#149dff), to(#0f7aff));
  background: -webkit-linear-gradient(top, #149dff, #0f7aff);
  background: -moz-linear-gradient(top, #149dff, #0f7aff);
  background: -ms-linear-gradient(top, #149dff, #0f7aff);
  background: -o-linear-gradient(top, #149dff, #0f7aff);*/
}


.hover-blue-albums > li > a.active {
  background: #0f7aff url('../../../images/menubk-active.png') repeat-x;
}

/*.hover-blue-albums > li > a:hover {
  background: #1075FF;
  background: -webkit-gradient(linear, left top, left bottom, from(#169FFF), to(#1075FF));
  background: -webkit-linear-gradient(top, #169FFF, #1075FF);
  background: -moz-linear-gradient(top, #169FFF, #1075FF);
  background: -ms-linear-gradient(top, #169FFF, #1075FF);
  background: -o-linear-gradient(top, #169FFF, #1075FF);
}*/

.bg-albums {
  background: #12151A url("../../../images/bk_sidebar.png") repeat;
  color: #FFF;
  padding: 5px 1% 5px 1%;
  -webkit-box-shadow: inset 0 8px 18px 0 rgba(0, 0, 0, .5);
  -moz-box-shadow: inset 0 8px 18px 0 rgba(0, 0, 0, .5);
  box-shadow: inset 0 8px 18px 0 rgba(0, 0, 0, .5);
}


/*******  Style para el scrollbar de la lista de albums *******/

.albums-list .jspVerticalBar {
  top: 25px !important;
  height: 85% !important;

  border: 1px solid rgba(0, 0, 0, 0.20);
  -moz-border-radius: 10px !important;
  -webkit-border-radius:10px !important;
  border-radius: 10px !important;

  background: none !important;
}

.albums-list .jspTrack {
  height: 100% !important;

  background-color: rgba(0, 0, 0, 0.20);
}

.albums-list .jspVerticalBar {
  right: 25px !important;
}

.albums-list .jspDrag { /* Parte del scroolbar que se arrastra 155px*/
  /*height: 165px !important;*/
  background-color: rgba(0, 0, 0, 0.3);
  border: none;
}

/*******  End Style para el scrollbar de la lista de albums *******/

.lista_photos {
  padding: 0 !important;
}

.badge-total-photos {
  margin-left: 5px;
  background-color: #646464!important;
  padding: 4px 11px 4px !important;
  border-radius: 11px !important;
}

.btn-photos {
  margin-top: -5px;
  background-color: #484D51 !important;
  background-image: -moz-linear-gradient(top, #FAFAFA, #E5E5E5) !important;
  background-image: -ms-linear-gradient(top, #FAFAFA, #E5E5E5) !important;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#FAFAFA), to(#E5E5E5)) !important;
  background-image: -webkit-linear-gradient(top, #FAFAFA, #E5E5E5) !important;
  background-image: -o-linear-gradient(top, #FAFAFA, #E5E5E5) !important;
  background-image: linear-gradient(top, #FAFAFA, #E5E5E5) !important;

  color: #656565 !important;
  font-weight: bold;
  text-shadow: none !important;

  border-color: #DBDBDB !important;
  border: 1px solid #DBDBDB !important;

  margin-right: 2px;
}

.btn-photos:hover {
  background-position: 0 0 !important;
}

button.btn-pag-right:active, button.btn-pag-left:active {
  background: #3B3B3B !important;
  border: 1px solid #5A5A5A !important;

  -webkit-box-shadow: inset 0px 0px 3px 0px rgba(0, 0, 0, 1);
  -moz-box-shadow: inset 0px 0px 3px 0px rgba(0, 0, 0, 1);
  box-shadow: inset 0px 0px 3px 0px rgba(0, 0, 0, 1);
}

button.btn-pag-right:active i { background-image: url('../../../images/icon-arrow-right-active.png'); }
button.btn-pag-left:active i { background-image: url('../../../images/icon-arrow-left-active.png'); }

.bar-white {
  border-bottom: 2px solid #DCDCDD !important;
  background-color: #FFF !important;
  padding-top: 14px !important;
  color: #7C7E88 !important;
  font-size: 14px !important;


  -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, .2);
  -moz-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, .2);
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, .2);
}

.no-box-shadow {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.photos-select li:hover .delete{display: block;}

div.myClass {
  overflow-x: hidden;
  white-space: nowrap;

}

div.myClass [class*="span"] {
  display: inline-block !important;
  float: none !important;
}


.ir_pasos .btn {
  -webkit-border-radius: 3px !important;
  -moz-border-radius: 3px !important;
  border-radius: 3px !important;
}






/******************* CREAR YUPPIC ************************/
.yuppic_barratop{
	background-color: #999;
	color: #fff;
	padding: 3px 3px;
}
.frames{
	max-height: 80px;
}
.frames.fborder{
	max-height: 100px;
}
.frames .thumbnails{
	/*width: 1000px;*/
}
.frames .thumbnails li.prevv{
	width: auto;
	float: left;
}
.thumbnail.prev_pag,
.thumbnail.frame_photo{
	position:relative;
	background-color: transparent;
	-moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}
.thumbnail.prev_pag:hover,
.thumbnail.frame_photo:hover{
	background-color: #1172f9;
}
.thumbnail.prev_pag .hover_bg_prev_pag,
.thumbnail.frame_photo .hover_bg_prev_pag {
  position: absolute;
  top: 0px;
  left: -1px;
  display: none;
  width: 90%;
  height:100%;
  background-color: rgba(17, 114, 249, .5);
}
.thumbnail.prev_pag:hover .hover_bg_prev_pag,
.thumbnail.frame_photo:hover .hover_bg_prev_pag {
	display: block;
	z-index: 100;
}
.thumbnail.prev_pag img,
.thumbnail.frame_photo img{
	height: auto;
	width: auto;
}
/*.frames .thumbnails li:nth-child(3n+1){
	margin-left: 0px;
}*/
.frames .thumbnails li,
.frames .thumbnails li a.thumbnail{
	margin-bottom: 0px !important;
}

/*#conte_pag_active{
	width: 550px;
	height: 712px;
	background: url(../../../images/crearyp/bg-prev-pag1.png);
}*/
#pag_active{
	position: relative;
	width: 550px;
	height: 712px;
	margin-top: 10px;
	margin-bottom: 0px;
	border:15px #fff solid;
	background: url(../../../images/crearyp/bg-prev-pag1-con.png);
	-webkit-box-shadow: 0px 2px 1px rgba(0,0,0,.25);
  -moz-box-shadow: 0px 2px 1px rgba(0,0,0,.25);
  box-shadow: 0px 2px 1px rgba(0,0,0,.25);
}
.pag_active_foot{
	width: 575px;
	background-color: #fff;
	min-height: 3px;
	margin-bottom: 20px;
	-webkit-box-shadow: 0px 2px 1px rgba(0,0,0,.25);
  -moz-box-shadow: 0px 2px 1px rgba(0,0,0,.25);
  box-shadow: 0px 2px 1px rgba(0,0,0,.25);
}

.img_in_page{
	position: absolute;
	background: #ccc url(../../../images/crearyp/bg-image.png) repeat;
	cursor: pointer;
	overflow: hidden;
}
.img_in_page:hover .frame{
	display: none;
}
.img_in_page.active{
	border: 1px #999 solid;
}
.img_in_page.drop_hover{
	-moz-box-shadow: 0px 0px 10px #aaa;
	-webkit-box-shadow: 0px 0px 10px #aaa;
	box-shadow: 0px 0px 10px #aaa;
}
.img_in_page img{
	max-width: none;
	max-height: none;
}
.img_in_page .photo,
.img_in_page .frame{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 30;
}
.img_in_page .photo{
	background: url(../../../images/crearyp/bg-image-icon.png) no-repeat center center;
}
.img_in_page .frame{
	z-index: 50;
}
.img_in_page .live_aviary{
	display: none;
	position: absolute;
	width: 37px;
	height: 30px;
	top: 0px;
	right: -4px;
	background: url(../../../images/crearyp/iocn_aviary.png) no-repeat center center;
	
	-webkit-box-shadow: -2px 2px 4px rgba(0,0,0,.25);
  -moz-box-shadow: -2px 2px 4px rgba(0,0,0,.25);
  box-shadow: -2px 2px 4px rgba(0,0,0,.25);

	z-index: 80;
}
.img_in_page:hover .live_aviary{
	display: block;
}
.img_in_page .live_aviary i{
	display: none;
}

.msg_photo_resolution{
	position: absolute;
	width: 90%;
	left: -2%;
	color: rgb(255, 200, 102);
	background-color: rgba(0,0,0, .6);
	z-index: 35;
	padding: 5% 5%;
}
.img_in_page:hover .msg_photo_resolution{
	display: none;
}

.setphoto,
.frame_photo{
	cursor: move;
}