
.table-promo{
	color: #707070;
}
.table-promo tr:hover td{
	cursor: pointer;
}
.table-promo tr.disable td{
	background-color: #fbfbfc;
	cursor: default;
}

.table-promo td h3{
	color: #707070;
	font-size: 16px;
	font-weight: normal;
}
.table-promo td p{
	color: #adadad;
}

.table-promo .under_group_light.ugl_chk{ /*input[type="checkbox"]{*/
	margin: 20px 0 0 20px;
}
.table-promo .under_group_light.ugl_chk input[type="checkbox"]{
	margin-top: -4px;
}

.ganayp_progrss .progress{
	margin-bottom: 5px;
}

.ganayp_progrss p.muted{
	font-size: 10px;
}

.cupon{
	background-color: #fff; 
	padding: 3% 1% 1% 1%;
	border: 1px #ccc solid;
}
.cupon_left span{
	font-size: 2em;
}
.cupon_code{
	font-weight: bold;
	border-bottom: 2px #ccc solid;
	font-size: 13px;
}
.cupon .span6 p{
	color: #888;
	font-size: 11px;
	line-height: 14px;
	text-align: center;
}