body{
	background-color: #f4f5f6 !important;
}

.myriad{
	font-family: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: lighter;
	text-shadow: none !important;
	color: #464f55 !important;
	font-size: 19px;
}

/********  header **********/
.navbar-inner.navinner{
	border-radius: 0px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	padding: 10px 0px;
}
.under_group{
	margin-left: 10px;
	background-color: #171717;
	border-radius: 4px;
	border-bottom: 1px #475757 solid;
	border-right: 1px #475757 solid;
}
.navbar .btn, .navbar .under_group .btn-group{
	margin: 0px;
}

.head_tw_fb .icon-tw{
	background: url(../../../images/tw.png) no-repeat center center;
}
.head_tw_fb .icon-fb{
	background: url(../../../images/fb.png) no-repeat center center;
}

.under_group .btn.dropdown-toggle{
	position: relative;
}
.under_group #carr_badge_success{
	position: absolute;
	top: -10px;
	right: -5px;
	padding: 2px 7px 3px 7px;
	background-color: #64a54d;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#89c772), color-stop(70%, #64a54d), to(#64a54d));
  background-image: -webkit-linear-gradient(#89c772, #64a54d 70%, #64a54d);
  background-image: -moz-linear-gradient(top, #89c772, #64a54d 70%, #64a54d);
  background-image: -ms-linear-gradient(#89c772, #64a54d 70%, #64a54d);
  background-image: -o-linear-gradient(#89c772, #64a54d 70%, #64a54d);
  background-image: linear-gradient(#89c772, #64a54d 70%, #64a54d);
  background-repeat: no-repeat;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#89c772', endColorstr='#64a54d', GradientType=0);
}

.btn-group .dropdown-menu .divider{
	margin: 1px 1px;
}

.dropdown-menu.carrito_compra{
	color: #EBEBEB;
}
.dropdown-menu.carrito_compra a{
	color: #757c82;
	white-space: normal;
	padding: 3px 0px;
}
.dropdown-menu.carrito_compra .carr_total{
	padding-top: 6px;
}
.dropdown-menu.carrito_compra .carr_total strong{
	margin-left: 4px;
}



/************* Contenido ***************/

.hero-unit.unitwhite{
	background-color: #fff;
	padding: 0px;
	color: #70727d;
	-webkit-box-shadow: 0px 3px 6px #999;
	-moz-box-shadow: 0px 3px 6px #999;
	box-shadow: 0px 3px 6px #999;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	text-shadow: none;
	font-size: 14px;
}
.hero-unit.unitwhite .myriad{
	margin-bottom: 20px;
}
.hero-unit.unitwhite p{
	font-size: 14px;
}
.hero-unit.unitwhite .unit-body{
	padding: 20px 40px;
}
.hero-unit.unitwhite .unit-footer{
	background-color: #f9f9f9;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), color-stop(70%, #f9f9f9), to(#f9f9f9));
  background-image: -webkit-linear-gradient(#ffffff, #f9f9f9 70%, #f9f9f9);
  background-image: -moz-linear-gradient(top, #ffffff, #f9f9f9 70%, #f9f9f9);
  background-image: -ms-linear-gradient(#ffffff, #f9f9f9 70%, #f9f9f9);
  background-image: -o-linear-gradient(#ffffff, #f9f9f9 70%, #f9f9f9);
  background-image: linear-gradient(#ffffff, #f9f9f9 70%, #f9f9f9);
  background-repeat: no-repeat;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f9f9f9', GradientType=0);
	border-top: 1px #f0f0f0 solid;
	border-bottom: 3px #c6c6c6 solid;
	padding: 8px 20px 6px 20px;
}

/**btns yupics panel**/
.btn-group.btn-sstyle > .btn{
	background-color: transparent;
  background-image: none;
  border-color: #e5e7ed #e5e7ed #e5e7ed #e5e7ed;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  -webkit-box-shadow: inset -1px 1px 1px #fff;
	-moz-box-shadow: inset -1px 1px 1px #fff;
	box-shadow: inset -1px 1px 1px #fff;
	text-shadow: none;
	font-size: 11px;
	color: #787a85;
}
.btn-group.btn-sstyle > .btn:hover,
.btn-group.btn-sstyle > .btn.active{
	-webkit-box-shadow: inset -1px 1px 1px #fff;
	-moz-box-shadow: inset -1px 1px 1px #fff;
	box-shadow: inset 0px 0px 15px #ccc;
}
.btn-group.btn-sstyle > .btn:last-child,
.btn-group.btn-sstyle > .btn:first-child{
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}



/************* Barra right *********************/
.well.well-small.create_yupps{
	padding: 0;
	border:none;
	-webkit-box-shadow: 0px 3px 6px #999;
	-moz-box-shadow: 0px 3px 6px #999;
	box-shadow: 0px 3px 6px #999;
}
.well.well-small.create_yupps .cy_body{
	padding: 9px 20px;
}
.create_yupps .myriad.brr_right{
	color: #fff !important;
	text-align: left;
	border-bottom: 1px #151a1f solid;
	padding: 5px 0px;
}
.create_yupps .cy_descrip{
	display: block;
	color: #a3aab1;
	margin: 8px 0;
}
.create_yupps .cy_descrip strong{
	color: #fff;
}
.create_yupps .cy_footer{
	background-color: #fff;
	padding: 10px 0;
	color: #70727d;
	border-bottom: 1px #c6c6c6 solid;
}



.modal form{
	padding: 0;
	margin: 0;
}
a.link_black{
	color: #3d4148;
	text-decoration: underline;
}
a.link_black:hover{
	color: #18191b;
}
a.link_green{
	color: #70ba57;
}
a.link_green:hover{
	color: #70ba57;
	text-decoration: underline;
}
.bold{
	font-weight: bold;
}