body{
	background: #f4f5f6 url(../../../images/bg.jpg) !important;
}

.myriad{
	font-family: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: lighter;
	text-shadow: none !important;
	color: #464f55 !important;
	font-size: 19px;
}

.container-fluid.nopadding_lf{
	padding: 0px;
}

/********  header **********/
.navbar {
  margin-bottom: 0 !important;
}
.navbar .navbar-inner.navinner{
  background: url("../../../images/topbar_bk.png") repeat-x;
}
.brand.header{
  width: auto;
}

.navbar-inner.navinner{
	border-radius: 0px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	padding: 10px 0px;
  border-bottom: 1px #2d3035 solid;
}
.under_group{
	margin-left: 10px;
	background-color: #171717;
	border-radius: 4px;
	border-bottom: 1px #475757 solid;
	border-right: 1px #475757 solid;
}
.navbar .btn, .navbar .under_group .btn-group{
	margin: 0px;
}

.head_tw_fb .icon-tw{
	background: url(../../../images/tw.png) no-repeat center center;
}
.head_tw_fb .icon-fb{
	background: url(../../../images/fb.png) no-repeat center center;
}

.under_group .btn.dropdown-toggle{
	position: relative;
}
.under_group #carr_badge_success{
	position: absolute;
	top: -10px;
	right: -5px;
	padding: 2px 7px 3px 7px;
	background-color: #64a54d;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#89c772), color-stop(70%, #64a54d), to(#64a54d));
  background-image: -webkit-linear-gradient(#89c772, #64a54d 70%, #64a54d);
  background-image: -moz-linear-gradient(top, #89c772, #64a54d 70%, #64a54d);
  background-image: -ms-linear-gradient(#89c772, #64a54d 70%, #64a54d);
  background-image: -o-linear-gradient(#89c772, #64a54d 70%, #64a54d);
  background-image: linear-gradient(#89c772, #64a54d 70%, #64a54d);
  background-repeat: no-repeat;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#89c772', endColorstr='#64a54d', GradientType=0);
}

.carrito_compra, .mnu-info-usr ul {
  background-color: #FFF !important;
  border: 1px solid #E1E1E3 !important;
}

.navbar .dropdown-menu::after {
    border-bottom: #FFF 6px solid !important;
}

.mnu-info-usr ul li{
  background-color: #FCFCFC !important;
  border: none !important;
  border-bottom: 1px solid #F3F4F5 !important;
}
.mnu-info-usr ul li a{color: #868790 !important;}

.mnu-info-usr ul li:hover{
  background-color: #F7F7F7 !important;
  color: #F3F4F5 !important;
}

.dropdown-menu.carrito_compra .secc-titulo{
  padding: 10px 0 10px 0px;
  background-color: #F7F7F7;
  padding: 5%;
  color: #868790;
  border-bottom: 1px solid #F3F4F5;
  -webkit-border-top-left-radius: 5px;
  -moz-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-top-right-radius: 5px;
  border-top-right-radius: 5px
}

.btn-group .dropdown-menu .divider{
	margin: 1px 1px;
  margin:0;
  border-bottom: 1px solid #E8E8E8;
}

.dropdown-menu.carrito_compra .car_item {
  padding: 3%;
  background-color: #FCFCFC;
  border-bottom: 1px solid #F3F4F5;
}

.dropdown-menu.carrito_compra li.car_item:last-child {
  border-bottom: 0px !important;
}

.dropdown-menu.carrito_compra .car_quantity {
    width: 50px;
    margin-left: 0px;
    display: inline-block;
    float: left;
}

.dropdown-menu.carrito_compra .car_importe {
    float: right;
    display: inline-block;
    margin-right: 22px;
    color: #AFB2B3;
}

.dropdown-menu.carrito_compra{
	color: #EBEBEB;
  padding:0px;
}

.dropdown-menu.carrito_compra img{
  width: 35px;
  height: 37px;
}

.dropdown-menu.carrito_compra a.yp-title{
	display: inline-block;
  padding: 3px 0px;
  color: #A4A9AB;
	white-space: normal;
}

.dropdown-menu.carrito_compra .carr_total{
	padding-top: 6px;
  color: #616768;
}
.dropdown-menu.carrito_compra .secc-total{
	padding: 5%;
}


/*********  Menu **********/
#barra_menu_fix{
}
.barra_menu_fix,
.barra_menu_fix4{
	position: fixed;
	top: 0px;
	left: 0px;
	height: 100%;
	background-color: #1C1C20; /*#2d2e33*/
	z-index: -1;

  -moz-box-shadow:inset -20px 0px 12px #17181C;
  -webkit-box-shadow:inset -20px 0px 12px #17181C;
  box-shadow:inset -20px 0px 12px #17181C;
}
.barra_menu_fix4{
  z-index: 1;
}
.well.nav-collapse.sidebar-nav{
	height: 100%;
	margin-top: -18px;
	border-radius: 0px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
}
.main-menu-span {
  -moz-box-shadow:inset -20px 0px 12px #17181C;
  -webkit-box-shadow:inset -20px 0px 12px #17181C;
  box-shadow:inset -20px 0px 12px #17181C;
  background-color: #1C1C20;
}
.main-menu-span [class*="icon-"]{
	float: right;
}
.main-menu-span a.ajax-link{
	padding: 14px 8px;
	color: #fff;
	border:1px #404043 solid;

	background-color: #303135;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#3d3e44), color-stop(70%, #303135), to(#303135));
  background-image: -webkit-linear-gradient(#3d3e44, #303135 70%, #303135);
  background-image: -moz-linear-gradient(top, #3d3e44, #303135 70%, #303135);
  background-image: -ms-linear-gradient(#3d3e44, #303135 70%, #303135);
  background-image: -o-linear-gradient(#3d3e44, #303135 70%, #303135);
  background-image: linear-gradient(#3d3e44, #303135 70%, #303135);
  background-repeat: no-repeat;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3d3e44', endColorstr='#303135', GradientType=0);
}
.main-menu-span a.ajax-link:hover,
.main-menu-span li.active a.ajax-link{
  background-color: #64a54d;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#89c772), color-stop(70%, #64a54d), to(#64a54d));
  background-image: -webkit-linear-gradient(#89c772, #64a54d 70%, #64a54d);
  background-image: -moz-linear-gradient(top, #89c772, #64a54d 70%, #64a54d);
  background-image: -ms-linear-gradient(#89c772, #64a54d 70%, #64a54d);
  background-image: -o-linear-gradient(#89c772, #64a54d 70%, #64a54d);
  background-image: linear-gradient(#89c772, #64a54d 70%, #64a54d);
  background-repeat: no-repeat;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#89c772', endColorstr='#64a54d', GradientType=0);
}
.main-menu-span .nav.main-menu li{
	border-bottom: 1px #27282b solid;
	border-top: 1px #27282b solid;
}
.main-menu-span .well.nav-collapse.sidebar-nav.bg-black {
  -moz-box-shadow:inset -20px 0px 12px #17181C;
  -webkit-box-shadow:inset -20px 0px 12px #17181C;
  box-shadow:inset -20px 0px 12px #17181C;
}

.bg-black {
  background-color: #1C1C20 !important;
}

.main-menu-span .well.menu-user-info {
  margin: 0px;
  padding: 0px;
  /*height: 128px;*/
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  background-color: #2D2E33;
  -moz-box-shadow: inset 0px 1px 0px #3a3b41;
  -webkit-box-shadow: inset 0px 1px 0px #3a3b41;
  box-shadow:inset 0px 1px 0px #3a3b41, inset -10px 0px 12px #17181C;
}

.main-menu-span .menu-user-info .user-avatar{
  float: left;
  width: 35px;
  height: 35px;
  margin-right: 3px;
  border: 3px #1e1f22 solid;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  overflow: hidden;

  -moz-box-shadow: 1px 1px 1px #3a3b41;
  -webkit-box-shadow: 1px 1px 1px #3a3b41;
  box-shadow: 0px 1px 1px #5a5b62;
}
.main-menu-span .menu-user-info .user-avatar img{
  float: none;
  height: 100%;
  width: auto;
}

.main-menu-span .menu-user-info .user-info {
  padding: 11px 0 8px 8px;
}

.main-menu-span .menu-user-info .user-info {
  border-bottom: 1px solid #1E1E22;
  -moz-box-shadow: 0px 1px 0px #3a3b41;
  -webkit-box-shadow: 0px 1px 0px #3a3b41;
  box-shadow: 0px 1px 0px #3a3b41;
}

.main-menu-span .menu-user-info .user-info .user-name {
  font-size: 12px;
  font-weight: bold;
}

.main-menu-span .menu-user-info .user-info .user-email {
  font-size: 10px;
  color: #7B7D86;
}

.main-menu-span .menu-user-info .info-stats {
  padding: 8px 0;
  height: 50px;
}

.main-menu-span .menu-user-info .info-stats div {
  float: left;
  width: 49%;
  text-align: center;
}

.main-menu-span .menu-user-info .info-stats div:first-child {
  border-right: 1px solid #1E1E22;
  -moz-box-shadow: 1px 0px 0px #3a3b41;
  -webkit-box-shadow: 1px 0px 0px #3a3b41;
  box-shadow: 1px 0px 0px #3a3b41;
}

.main-menu-span .menu-user-info .info-stats div span {
  display: block;
  font-size: 13px;
  font-weight: bold;
}

.main-menu-span .menu-user-info .info-stats div span.status {
  color: #676971;
  font-size: 9px;
}

@media (max-width: 979px) {
  .main-menu-span .nav > li > a.ajax-link{
    color: #fff;
  }
}

.search {
  margin-bottom: -19px;
}

#search::-webkit-input-placeholder {
   color: #E8E8E9;
   font-size: 10px;
   font-weight: bold;
   text-align: center;
}

#search:-moz-placeholder { /* Firefox 18- */
   color: #E8E8E9;
   font-size: 9px;
   font-weight: bold;
   text-align: center;
}

#search::-moz-placeholder {  /* Firefox 19+ */
  font-size: 10px;
  color: white;
  font-weight: bold;
  text-align: center;
}

#search:-ms-input-placeholder  {
   color: #fff;
   font-size: 10px;
   font-weight: bold;
   text-align: center;
}

.search .input-search {
  width: 72%;
  height: 36px;
  border: 1px solid #212126;
  background-color: #212126 !important;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;

  -moz-box-shadow:inset 1px 4px 8px #17181C;
  -webkit-box-shadow:inset 1px 4px 8px #17181C;
  box-shadow:inset 1px 4px 8px #17181C;
}

.search .btn-search {
  width: 23%;
  height: 44px;
  margin-left: -5px;
  border: 1px solid #6AB55F;
  background-color: #6AB55F !important;
  background-image: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow:none;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}

.yup-icon-search {
  float: none !important;
  display: inline-block;
  width: 14px;
  height: 12px;
  vertical-align: text-top;
  background: url(../../../images/icon-search.png) center center;
  /*background-position: center;*/
  background-repeat: no-repeat;
}

i[class*="icon-m"]{
  width: 22px;
  height: 22px;
  background-position: center center;
}
i.icon-mhome{
  background-image: url(../../../images/menu-dash.png);
}
i.icon-mperfil{
  background-image: url(../../../images/menu-perf.png);
}
i.icon-mhisto{
  background-image: url(../../../images/menu-stat.png);
}
i.icon-mnews{
  background-image: url(../../../images/menu-news.png);
}
i.icon-mfaqs{
  background-image: url(../../../images/menu-faqs.png);
}
i.icon-mconta{
  background-image: url(../../../images/menu-cont.png);
}




/************* Contenido ***************/
.hero-unit.unitwhite{
	background-color: #fff;
	padding: 0px;
	color: #70727d;
	-webkit-box-shadow: 0px 3px 6px #999;
	-moz-box-shadow: 0px 3px 6px #999;
	box-shadow: 0px 3px 6px #999;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	text-shadow: none;
	font-size: 14px;
}
.hero-unit.unitwhite .myriad{
	margin-bottom: 20px;
}
.hero-unit.unitwhite p{
	font-size: 14px;
}
.hero-unit.unitwhite .unit-body{
	padding: 20px 40px;
}
.hero-unit.unitwhite .unit-footer{
	background-color: #f9f9f9;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), color-stop(70%, #f9f9f9), to(#f9f9f9));
  background-image: -webkit-linear-gradient(#ffffff, #f9f9f9 70%, #f9f9f9);
  background-image: -moz-linear-gradient(top, #ffffff, #f9f9f9 70%, #f9f9f9);
  background-image: -ms-linear-gradient(#ffffff, #f9f9f9 70%, #f9f9f9);
  background-image: -o-linear-gradient(#ffffff, #f9f9f9 70%, #f9f9f9);
  background-image: linear-gradient(#ffffff, #f9f9f9 70%, #f9f9f9);
  background-repeat: no-repeat;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f9f9f9', GradientType=0);
	border-top: 1px #f0f0f0 solid;
	border-bottom: 3px #c6c6c6 solid;
	padding: 8px 20px 6px 20px;
}
.hero-unit.unitwhite .unit-foo{
  border-bottom: 3px #c6c6c6 solid;
}

/**btns yupics panel**/
.btn-group.btn-sstyle > .btn, .btn-group.btn-sstyle .nav .btn{
	background-color: transparent;
  background-image: none;
  border-color: #e5e7ed #e5e7ed #e5e7ed #e5e7ed;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  -webkit-box-shadow: inset -1px 1px 1px #fff;
	-moz-box-shadow: inset -1px 1px 1px #fff;
	box-shadow: inset -1px 1px 1px #fff;
	text-shadow: none;
	font-size: 11px;
	color: #787a85;
}
.btn-group.btn-sstyle .nav li {border: 1px #e5e7ed solid;}
.btn-group.btn-sstyle .nav .btn {margin:0; padding: 11px 25px;}

.btn-group.btn-sstyle > .btn:hover,
.btn-group.btn-sstyle > .btn.active,
.btn-group.btn-sstyle .nav li:hover,
.btn-group.btn-sstyle .nav li.active{
	-webkit-box-shadow: inset -1px 1px 1px #D4D5D8;
	-moz-box-shadow: inset -1px 1px 1px #D4D5D8;
	box-shadow: inset 0px 0px 15px #ccc;
}
.btn-group.btn-sstyle > .btn:last-child,
.btn-group.btn-sstyle > .btn:first-child,
.btn-group.btn-sstyle .nav .btn:last-child,
.btn-group.btn-sstyle .nav .btn:first-child{
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}

.scroll-pane {
  width: 100%;
  height: 300px;
  overflow: auto;
}

.horizontal-only {
  height: auto;
  max-height: 300px;
}

.tabbable {
  margin-bottom: 40px;
}

.tabbable .tab-content{
  overflow: inherit !important;
}
.tab-content .thumbnails .thumbnail {
  position: relative;
  padding: 0;
  margin-bottom: 0 !important;
  border: none;
  border-bottom: 1px #B2B5B7 solid;
  -webkit-box-shadow: 0px 3px 6px #999;
  -moz-box-shadow: 0px 3px 6px #999;
  box-shadow: 0px 3px 6px #999;

  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px
}
.tab-content .thumbnails .thumbnail > img{ margin: 0;}
.tab-content .thumbnails .thumbnail .caption h3 {color: #444; padding-left: 20px;}
.tab-content .thumbnails .thumbnail .caption p { color: #AEAEAE; padding-left: 22px; margin-top: 5px;}

.tab-content .thumbnails li {
  margin-left: 15px !important;
}

.tab-content .thumbnails li:first-child{
  margin-left: 0px !important;
}

.thumbnail .shopcar{
  position: absolute;
  top: 0px;
  right: 0px;
  width: 40px;
  height: 40px;
  background: #77bf6c url(../../../images/shopcar.png) no-repeat center center;
  z-index: 100;
}

/*box*/
.form-actions.white_action{
  background-color: #f8f8f8;
}
.xxboxx{
  border-bottom: 1px #dfdede solid;
}
.xxboxx .title-box{
  font-size: 18px;
  color: #444;
  padding: 12px 10px;
}
.box .box-content .control-group{
  color: #666666;
}
.paddin10{ padding: 10px !important; }
.nopaddin{
  padding: 0 0 0 0 !important;
}

.box-content .accordion {
  margin-bottom: 0 !important;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.box-content .accordion div:nth-last-child(1) {
  margin-bottom: 0;
  border-bottom: none;
}

.alert-transparent {
  background-color: transparent !important;
  color: red !important;
  text-shadow: none !important;
  border: none !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}

i.icon-faq-point {
  padding-right: 10px;
  background-image: url('../../../images/icon-faq-point.png');
  background-position: center center;
}

.green-text {
  color: #77BF6C;
}


.frmedit_perfil.form-horizontal{
  padding-left: 20px;
  padding-right: 20px;
}
.frmedit_perfil.form-horizontal .controls{
  margin: 0px;
}
.frmedit_perfil.form-horizontal .btn.btn-success{
  padding: 8px 14px;
}


.under_group_light{
  padding: 3px 5px;
  margin-top: -3px;
  background-color: #f1f1f1;
  border-radius: 4px;
  border: 1px #e7e7e7 solid;
  border-right: 1px #e7e7e7 solid;
}
.under_group_light.ugl_chk{
  padding: 2px 2px;
  width: 13px;
  height:13px;
}


/************* Barra right *********************/
.well.well-small.create_yupps{
	padding: 0;
	border:none;
	-webkit-box-shadow: 0px 3px 6px #999;
	-moz-box-shadow: 0px 3px 6px #999;
	box-shadow: 0px 3px 6px #999;
}
.well.well-small.create_yupps .cy_body{
	padding: 9px 20px;
}
.create_yupps .myriad.brr_right{
	color: #fff !important;
	text-align: left;
	border-bottom: 1px #151a1f solid;
	padding: 5px 0px;
}
.create_yupps .cy_descrip{
	display: block;
	color: #a3aab1;
	margin: 8px 0;
}
.create_yupps .cy_descrip strong{
	color: #fff;
}
.create_yupps .cy_footer{
	background-color: #fff;
	padding: 10px 0;
	color: #70727d;
	border-bottom: 1px #c6c6c6 solid;
}

.accordion.accord_barr_rig{
  background-color: #fff;
  -webkit-box-shadow: 0px 3px 6px #999;
  -moz-box-shadow: 0px 3px 6px #999;
  box-shadow: 0px 3px 6px #999;
}
.accordion.accord_barr_rig .accordion-group{
  border: none;
  border-bottom: 1px solid #e5e5e5;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}
.accordion.accord_barr_rig .accordion-heading a{
  color: #70727d;
  padding: 12px 15px;
}
.accordion.accord_barr_rig .accordion-heading a:hover,
.accordion.accord_barr_rig .accordion-heading .actifaqs,
.accordion.accord_barr_rig .accordion-body.actifaqs{
  background-color: #f8f8f8;
}
.accordion.accord_barr_rig .accordion-heading a i{
  padding-right: 10px;
  background-image: url('../../../images/iconplus2.png');
  background-position: center center;
}
.accordion.accord_barr_rig .accordion-heading a:hover i,
.accordion.accord_barr_rig .accordion-heading i.actifaqs {
  background-image: url('../../../images/iconplus1.png');
}
.accordion.accord_barr_rig .accordion-inner{
  color: #70727d;
}


/** order **/
.ordercps{
  color: #666666;
}
.ord_datos_adress{
  color: #666666;
}
.ord_datos_adress strong,
.text-warning{
  color: #616569;
}
.ord_datos_adress a{
  color: #666;
}
.ord_datos_adress a:hover{
  color: #666;
  text-decoration: underline;
}
.table-striped tbody tr:nth-child(odd) td, 
.table-striped tbody tr:nth-child(odd) th {
  background-color: #eee !important;
}


.well.wellwithe{
  background-color: #fff;
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}


.modal form{
	padding: 0;
	margin: 0;
}
.modal-header h2 .green{
  color: #77bf6c;
}
.modal .modal-footer{
  background-color: #fff;
}
a.link_black{
	color: #3d4148;
	text-decoration: underline;
}
a.link_black:hover{
	color: #18191b;
}
a.link_green{
	color: #70ba57;
}
a.link_green:hover{
	color: #70ba57;
	text-decoration: underline;
}
.bold{
	font-weight: bold;
}